{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}" />
<link rel="stylesheet" href="{% static 'css/allauthstyles.css' %}" />
{% endblock %}

{% block content %}
<div class="container pt-5 pb-5">
	<div class="row">
		<div class="col-12 col-lg-8 mx-auto">

            <h1 class="mb-2">{% trans "Change Password" %}</h1>
            <p>{% trans 'Your password is now changed.' %} You can now <a href="{% url 'account_login' %}">Log In</a> with your new password</p>
            
		</div>
	</div>
</div>
{% endblock %}
